/*Global styles*/
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Shop grid placement */
.product-list.is-gallery .product-thumb {
  grid-column-start: var(--gallery-column-start);
  grid-column-end: var(--gallery-column-end);
}

.product-list:not(.is-gallery):not(.is-merch) .product-thumb {
  grid-column: var(--list-column);
}

@media screen and (max-width: 767px) {
  .product-list:not(.is-gallery):not(.is-merch) .product-thumb {
    grid-column: auto;
  }
}

@media screen and (max-width: 479px) {
  .product-list.is-gallery .product-thumb {
    grid-column: auto;
  }
}

/* Sold out styles */
.sold-out {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to top right,
      transparent calc(50% - 0.5px),
      var(--_theme---border--negative),
      transparent calc(50% + 0.5px)
    ),
    linear-gradient(
      to bottom right,
      transparent calc(50% - 0.5px),
      var(--_theme---border--negative),
      transparent calc(50% + 0.5px)
    );
}
